:root {
    --primary-color: rgb(23, 102, 192);
    --secondary-color: #050056;
    --primary-text: azure;
    --bg:#e9ebed;
    --card:#ffffff;
    --accent:#4f46e5;
    --muted:#6b7280;
    --danger:#ef4444;
    --radius:12px;
    --secaondary-text-color: #565959;
    font-family: Anton, Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing:border-box;
}

main {
    margin: 0;
    min-height:100vh;
    background-color: var(--bg);
}

.metrics {
    width: 80%;
    min-height: 200px;
    margin: 20px auto;
    border-radius: 12px;
    background-color: var(--secondary-color);
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    overflow: hidden;
    text-align: center;
}

.metrics-header {
    color: #fff;
}

.frequency-container{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    margin: 20px auto;
}

.gender, .age {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.metric-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--card);
    width: 100px;
    height: 100px;
    border-radius: var(--radius);
}

.invoice-search-container {
    max-width: 700px;
    margin: 20px auto;
}

#trnInput {
    width: 400px;
}

#invoiceSearchForm {
    display: flex;
    gap: 10px;
    align-items: center;
}